<%= form_for(@notice) do |f| %>
  <% if @notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
      <% @notice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :notice_no %><br>
    <%= f.text_field :notice_no %>
  </div>
  <div class="field">
    <%= f.label :client_name %><br>
    <%= f.collection_select :client_id, Client.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :opponent_name %><br>
    <%= f.text_field :opponent_name %>
  </div>
  <div class="field">
    <%= f.label :opponent_address %><br>
    <%= f.text_area :opponent_address %>
  </div>
  <div class="field">
    <%= f.label :date_of_notice %><br>
    <%= f.text_field :date_of_notice %>
  </div>
   <div class="field">
    <%= f.label :cover %><br>
    <%= f.file_field :cover %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


 <script>
  $( function() {
    $( "#notice_date_of_notice" ).datepicker({
      dateFormat: 'yy-mm-dd',
      // minDate: 0
    });
  } );
  </script>
