<div class="container-fluid">
<p id="notice"><%= notice %></p>

<p><strong>Name:</strong><%= @case_type.name %></p>
<p><strong>Code:</strong><%= @case_type.code %></p>

<%= link_to 'Edit', edit_case_type_path(@case_type) %> |
<%= link_to 'Back', case_types_path %>
</div>