<%= form_for([@client, @client_case]) do |f| %>
  <% if @client_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client_case.errors.count, "error") %> prohibited this client_case from being saved:</h2>

      <ul>
      <% @client_case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<div class="form-styling">
  <div class="client-cases-new">
    <div class="row">

      <div class="col-md-4">

        <%= f.hidden_field :client_id, value: @client.id %>

        <div class="row mb">
          <div class="col-md-3">  
            <%= f.label :state_id %>
          </div>

          <div class="col-md-9">
             <%= f.collection_select :state_id, State.all, :id, :name, prompt: "Select State" %>
          </div>
        </div>

        <div class="row mb">
          <div class="col-md-3">
            <%= f.label :district_id %>
          </div>

          <div class="col-md-9">
             <%= f.collection_select :district_id, District.all, :id, :name, prompt: "Select District" %>
          </div>
        </div>

        <div class="row mb">
          <div class="col-md-3">
            <%= f.label :court_complex_id %>
          </div>

          <div class="col-md-9">
              <%= f.collection_select :court_complex_id, CourtComplex.all, :id, :name , prompt: "Select Court Complex"%>
          </div>
        </div>

        <div class="row mb">
          <div class="col-md-3">
            <%= f.label :court_hall %>
          </div>

          <div class="col-md-9">
              <%= f.text_field :court_hall %><br>
              <span id="courtHallError"></span>
          </div>
        </div>

        <div class="row mb">
          <div class="col-md-3">
            <%= f.label :case_type_id %>
          </div>

          <div class="col-md-9">
              <%= f.collection_select :case_type_id, CaseType.all, :id, :name, prompt: "Select Case Type" %>
          </div>
        </div>

        <div class="row mb">
          <div class="col-md-3">
            <%= f.label :case_number %>
          </div>

          <div class="col-md-9">
              <%= f.text_field :case_number %><br>
              <span id="caseNumberError"></span>
          </div>
        </div>

      </div>




    <div class="col-md-4">

        <div class="row mb">
          <div class="col-md-3">
            <%= f.label :case_year %>
          </div>

          <div class="col-md-9">
              <%= f.text_field :case_year %><br>
              <span id="caseYearError"></span>
          </div>
        </div>

        <div class="row mb">
          <div class="col-md-3">
            <%= f.label :advocate_id %>
          </div>

          <div class="col-md-9">
              <%= f.collection_select :advocate_id, Advocate.all, :id, :name , prompt: "Select Advocate"%>
          </div>
        </div>

        <div class="row mb">
          <div class="col-md-3">
            <%= f.label :advocate_for %>
          </div>

          <div class="col-md-9">
            <%= f.select :advocate_for, %w{Plaintiff Petitioner Appellant Complainant DecreeHolder Defendent Respondent Judgement Debtor Accused} ,prompt: "Select " %>
          </div>
        </div>

        <div class="row mb">
          <div class="col-md-3">
            <%= f.label :rank_of_party %>
          </div>

          <div class="col-md-9">
              <%= f.select :rank_of_party, %w{Plaintiff Petitioner Appellant Complainant DecreeHolder} ,prompt: "Select " %>
          </div>
        </div>


        <div class="row mb">
          <div class="col-md-3">
            <%= f.label :client_name %>
          </div>

          <div class="col-md-9">
           <%= f.text_field :client_name %><br>
           <span id="clientNameError"></span>
          </div>
        </div>

        <div class="row mb">
          <div class="col-md-3">
            <%= f.label :rank_of_opponent_party %>
          </div>

          <div class="col-md-9">
          <%= f.select :rank_of_opponent_party, %w{Defendent Respondent Judgement Debtor Accused} ,prompt: "Select " %>
          </div>
        </div>       

    </div>

    <div class="col-md-4">

        <div class="row mb">
          <div class="col-md-3">
            <%= f.label :opponent_name %>
          </div>

          <div class="col-md-9">
         <%= f.text_field :opponent_name %><br>
         <span id="opponentNameError"></span>
          </div>
        </div>

        <div class="row mb">
          <div class="col-md-3">
            <%= f.label :file_no %>
          </div>

          <div class="col-md-9">
         <%= f.text_field :file_no, value: @client_case.generate_file_no,:readonly => true  %>
          </div>
        </div>

        <div class="row mb">
          <div class="col-md-3">
            <%= f.label :case_status %>
          </div>

          <div class="col-md-9">
         <%= f.select :case_status, %w{Running Closed NOC} ,prompt: "Select " %>
          </div>
        </div>

        <div class="row mb">
          <div class="col-md-3">
            <%= f.label :nature_of_case %>
          </div>

          <div class="col-md-9">
            <%= f.text_field :nature_of_case %><br>
            <span id="natureOfCaseError"></span>
          </div>
        </div>

        <div class="row mb">
          <div class="col-md-7 col-md-offset-5">
            <div class="actions">
                <%= f.submit "Create Case", class: "btn btn-success" %>
            </div>
            <% end %>
          </div>
        </div>

    </div>

  </div>

 </div> 

</div>

<script>
  
  var stateHandle = document.getElementById('client_case_state_id');
  var districtHandle = document.getElementById('client_case_district_id');
  var courtComplexHandle = document.getElementById('client_case_court_complex_id');

  stateHandle.onchange = function(){
    districtHandle.innerHTML = "";
    var request = new XMLHttpRequest();
    request.open('GET','/states/select_districts.json?state_id=' + stateHandle.value)
    request.onreadystatechange = function(){
      if(request.readyState === 4 && request.status === 200){
        var response = JSON.parse(request.responseText);
        response.forEach(function(district){
          var newElement = document.createElement('option');
          newElement.value = district.id;
          var newText = document.createTextNode(district.name);
          newElement.appendChild(newText);
          districtHandle.appendChild(newElement);
        });
      }
    }
    request.send();
  };

  districtHandle.onchange =function(){
    courtComplexHandle.innerHTML = "";
    var request = new XMLHttpRequest();
    request.open('GET','/districts/select_court_complexes.json?district_id=' + districtHandle.value)
    request.onreadystatechange = function(){
      if(request.readyState === 4 && request.status === 200){
        var response =  JSON.parse(request.responseText);
        response.forEach(function(court_complex){
          var newElement = document.createElement('option');
          newElement.value = court_complex.id;
          var newText = document.createTextNode(court_complex.name);
          newElement.appendChild(newText);
          courtComplexHandle.appendChild(newElement);

        });
      }
    }
    request.send();
  };


  var courtHallHandle = document.getElementById('client_case_court_hall');
  var caseNumberHandle = document.getElementById('client_case_case_number');
  var caseYearHandle = document.getElementById('client_case_case_year');
  var clientNameHandle = document.getElementById('client_case_client_name');
  var opponentNameHandle = document.getElementById('client_case_opponent_name');
  var natureOfCaseHandle = document.getElementById('client_case_nature_of_case');

  var courtHallErrorHandle = document.getElementById('courtHallError');
  var caseNumberErrorHandle = document.getElementById('caseNumberError');
  var caseYearErrorHandle = document.getElementById('caseYearError');
  var clientNameErrorHandle = document.getElementById('clientNameError');
  var opponentNameErrorHandle = document.getElementById('opponentNameError');
  var natureOfCaseErrorHandle = document.getElementById('natureOfCaseError');

   courtHallHandle.onblur = function(){
    if(courtHallHandle.value.length == ""){
      courtHallErrorHandle.innerHTML = "can't be blank";
    }
    else{
      courtHallErrorHandle.innerHTML = "";
    }
  }

   caseNumberHandle.onblur = function(){
    if(caseNumberHandle.value.length == ""){
      caseNumberErrorHandle.innerHTML = "can't be blank";
    }
    else{
      caseNumberErrorHandle.innerHTML = "";
    }
  }

    caseYearHandle.onblur = function(){
    if(caseYearHandle.value.length == ""){
      caseYearErrorHandle.innerHTML = "can't be blank";
    }
    else{
      caseYearErrorHandle.innerHTML = "";
    }
  }

    clientNameHandle.onblur = function(){
    if(clientNameHandle.value.length == ""){
      clientNameErrorHandle.innerHTML = "can't be blank";
    }
    else{
      clientNameErrorHandle.innerHTML = "";
    }
  }

    opponentNameHandle.onblur = function(){
    if(opponentNameHandle.value.length == ""){
      opponentNameErrorHandle.innerHTML = "can't be blank";
    }
    else{
      opponentNameErrorHandle.innerHTML = "";
    }
  }

    natureOfCaseHandle.onblur = function(){
    if(natureOfCaseHandle.value.length == ""){
      natureOfCaseErrorHandle.innerHTML = "can't be blank";
    }
    else{
      natureOfCaseErrorHandle.innerHTML = "";
    }
  }

</script> 


