<%= nested_form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="main-heading-body">
  <div class="field">
    <%= f.label :primary_mobile %><br>
    <%= f.text_field :primary_mobile %>

    <%= f.fields_for :all_mobiles, @all_mobile do |task_form| %>
      <%= task_form.text_field :mobile %>
      <%= task_form.link_to_remove "Delete" %>
    <% end %>

    <p><%= f.link_to_add "Add", :all_mobiles %></p>
      
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
    
  </div>
  <div class="field">
    <%= f.label :pincode %><br>
    <%= f.text_field :pincode %>
 
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
   
  </div>
  </br>
    
  <div class="actions">
    <%= f.submit "Create New Client" , class: "btn btn-primary",  id: "submit" %>
  </div>
<% end %>


</div>

