<script type="text/javascript">
   $(document).ready(function(){
    $("#date_select").change(function(){
      var date = $("#date_select").val();
      if (date.trim() != ""){
      $.get("/home/reload_table", "date="+date)

      }
    })
   })
</script>

<div class="container-fluid">

  <div class="row">

    <div class="col-md-3">
        <span class="today-date"><%= Date.today.strftime("%d") %></span >
        <span class="today-month"><%= Date.today.strftime("%B") %></span>
        <span class="today-year"><%= Date.today.strftime("%Y") %></span >
    </div>

    <div class="col-md-2 col-md-offset-7">
      <%=date_field_tag :date_select, "",class:"pull-right"%>
    </div>
 
  </div>

  <div class="home-page" id= "reload">
    <table class="table table-bordered" id="main-table">

   <thead>
      <tr>
        <th><h5 data-toggle="tooltip" title="Previous Advocate">Prev Adv</h5></th>
        <th><h5 data-toggle="tooltip" title="Previous Date">Prev Date</h5></th>
        <th><h5 data-toggle="tooltip" title="File Number">File No</h5></th>
        <th><h5 data-toggle="tooltip" title="Case Details">Case Details</h5></th>
        <th><h5 data-toggle="tooltip" title="Current Position Stage">Current Position Stage</h5></th>
        <th><h5 data-toggle="tooltip" title="Advocate Appearing">Adv App</h5></th>
        <th><h5 data-toggle="tooltip" title="Client Fee Due">CFD</h5></th>
        <th><h5 data-toggle="tooltip" title="Next Stage">Next Stage</h5></th>
        <th><h5 data-toggle="modal" data-target="#myModal">Next Date<i class="fa fa-plus" aria-hidden="true"></i></h5></th>
        <th><h5 data-toggle="tooltip" title="To Do List">To Do List</h5></th> 
      </tr>
    </thead>

    <tbody>
            

  <% @hearings.each do |hearing| %>
      <tr>

         <!--  Previous Advocate -->
        <td>
          <% client_hearings = hearing.client_case.hearings %> 
          <% prev_hearings = client_hearings.where('date_of_hearing < ?', hearing.date_of_hearing).order('date_of_hearing') %>
          <% if client_hearings.count == 1 || hearing.date_of_hearing.to_date == Date.today %>
              -
          <% else %>
            <%= prev_hearings.last.advocate.name %>
          <% end %>
        </td>


           <!--  Previous Date -->
        <td>
          <% client_hearings = hearing.client_case.hearings %> 
          <% prev_hearings = client_hearings.where('date_of_hearing < ?', hearing.date_of_hearing).order('date_of_hearing') %>
          <% if client_hearings.count == 1 || hearing.date_of_hearing.to_date == Date.today %>
              -
          <% else %>
           <%= prev_hearings.last.date_of_hearing.strftime("%d-%m-%Y") %>
          <% end %>
        </td>

        <!-- File Number -->
        <td>
          <%= hearing.client_case.file_no %>
        </td>



        <!-- Case Details  -->
        <td>
          <%= link_to hearing.client_case.case_format, client_client_case_path(hearing.client_case.client, hearing.client_case) %>
        </td>


        <!-- Current Position Stage -->
        <td>
          <%= link_to hearing.case_status, client_case_hearing_path(hearing.client_case, hearing) %>
        </td>


        <!-- Advocate Appearing -->
        <td>
          <% client_hearings = hearing.client_case.hearings %>
          <%= link_to hearing.advocate.name, advocate_path(hearing.advocate) %>
        </td>


        <!-- Client Fee Due -->
        <td>
          <% all_hearing_fee_amount = 0 %>
          <% all_hearing_amount = 0  %>
          <% amount_paid = 0 %>
        
          <% hearing.client_case.client.client_cases.each do |client_case| %>
            <% client_case.hearings.each do |hearing| %>
              <% hearing.fees.each do |fee| %>
                  <% all_hearing_fee_amount = all_hearing_fee_amount + fee.amount %>
              <% end %>
            <% end %>
          <% end %> 

          <% hearing.client_case.client.client_cases.each do |client_case| %>
            <% all_hearing_amount = all_hearing_amount + client_case.hearings.pluck(:amount).inject(0){|sum,x| sum + x } %>
          <% end %>

          <% hearing.client_case.client.client_cases.each do |client_case| %>
            <% client_case.hearings.each do |hearing| %>
              <% hearing.payments.each do |payment| %>
                <% amount_paid = amount_paid + payment.amount  %>
              <% end %>
            <% end %>
          <% end %> 

          <% total_cfd = (all_hearing_fee_amount + all_hearing_amount) - amount_paid %>
          <%= total_cfd %>

        </td>


        <!-- Next Stage -->
        <td>
          <% client_hearings = hearing.client_case.hearings %>
          <% next_hearings =  client_hearings.where('date_of_hearing >= ?', hearing.date_of_hearing).order('date_of_hearing') %>

          <% if client_hearings.count == 1 || next_hearings.count == 1 %>
              -
          <% else %>
              <%= link_to next_hearings[1].case_status, client_case_hearing_path(hearing.client_case, next_hearings[1]) %> 
          <% end %>
        </td> 



        <!-- Next Date -->
        <td>
          <% client_hearings = hearing.client_case.hearings %>
          <% next_hearings =  client_hearings.where('date_of_hearing >= ?', hearing.date_of_hearing).order('date_of_hearing') %>

          <% if client_hearings.count == 1  || next_hearings.count == 1 %>
              -
          <% else %>
            <%= next_hearings[1].date_of_hearing.strftime("%d-%m-%Y") %>
          <% end %>
        </td>

        <!-- To Do List -->
        <td>
         <%= link_to "Add To Do", new_to_do_list_path(@to_do_list, :client_case => hearing.client_case_id) %>
        </td>

        
  </tr>
  <% end %>
  </tbody>



</table>
</div>
</div>



  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Your Hearing</h4>
        </div>
        <div class="modal-body">
         
            <%= form_for([Hearing.new]) do |f| %>
            
            <div class="modal-styling">

                <div class="row mb"> 
                  <div class="col-md-3">
                  <%= f.label :date_of_hearing %>
                  </div>
                  <div class="col-md-6">
                  <%= f.text_field :date_of_hearing %>
                  <span id="dateOfHearingError"></span>
                  </div>
                </div>

                <div class="row mb">
                  <div class="col-md-3">
                  <%= f.label :advocate_id %>
                  </div>
                  <div class="col-md-6">
                   <%= f.collection_select :advocate_id, Advocate.all, :id , :name, prompt: "Select Advocate" %>
                  </div>
                </div>

                <div class="row mb">
                  <div class="col-md-3">
                  <%= f.label :case_status %>
                  </div>
                  <div class="col-md-6">
                   <%= f.text_area :case_status %>
                   <span id="caseStatusError"></span>
                  </div>
                </div>

                <div class="row mb">
                  <div class="col-md-3">
                  <%= f.label :client_case_id %>
                  </div>
                  <div class="col-md-6">
                   <%= f.collection_select :client_case_id, ClientCase.all, :id, :case_format, prompt: "Select Case" %>
                  </div>
                </div>

                <div class="row mb">
                  <div class="col-md-3">
                  <%= f.label :amount %>
                  </div>
                  <div class="col-md-6">
                   <%= f.text_field :amount , :value => 500 %>
                  </div>
                </div>

            </div>

            <div class="row mb">
              <div class="col-md-6 col-md-offset-3">
                <div class="actions">
                  <%= f.submit "Submit", class: "btn btn-success", id: "submit" , data: { disable_with: "Please wait..."} %>
                </div>
                  <% end %>
              </div>
            </div>

           <script>
              $( function() {
                $( "#hearing_date_of_hearing" ).datepicker({
                  dateFormat: 'yy-mm-dd',
                  minDate: 0,
                  changeMonth: true,
                  changeYear: true
                });
              } );
            </script>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ,  id: "submit" >Close</button>
        </div>
      </div>
      
    </div>
  </div>
  


    <script>

    $(document).ready(function(){
        $('#main-table').DataTable();
    });
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });

    var flag = {
      dateofhearing: false, 
      advocate: false, 
      casestatus: false,
      clientcase: false
    } 


      var dateOfHearingHandle = document.getElementById('hearing_date_of_hearing');
      var advocateHandle = document.getElementById('hearing_advocate_id')
      var caseStatusHandle = document.getElementById('hearing_case_status');
      var clientCaseHandle = document.getElementById('hearing_client_case_id')
      var submitHandle = document.getElementById('submit');
      submitHandle.disabled = true;

      var dateOfHearingErrorHandle = document.getElementById('dateOfHearingError');
      var caseStatusErrorHandle = document.getElementById('caseStatusError');

      dateOfHearingHandle.onchange = function(){
        if(dateOfHearingHandle.value != ""){
          flag.dateofhearing = true;
          showSubmitBtn(flag);
        }
      }

      advocateHandle.onblur = function(){
        if(!advocateHandle.value == ""){
          flag.advocate = true;
          showSubmitBtn(flag);
        }
      }

      caseStatusHandle.onblur = function(){
        if(caseStatusHandle.value.length == ""){
          caseStatusErrorHandle.innerHTML = "can't be blank";
        }
        else{
          caseStatusErrorHandle.innerHTML = "";
          flag.casestatus = true;
          showSubmitBtn(flag);
        }
      }

       clientCaseHandle.onchange = function(){
        if(!clientCaseHandle.value == ""){
          flag.clientcase = true;
          showSubmitBtn(flag);
        }
      }


      function showSubmitBtn(flag){
        var innerFlag = 0;
        for(var key in flag){
          if(flag[key] == false){
            innerFlag = false;
          } else {
           innerFlag += 1;
          }
        }
        if(innerFlag === 4){
          submitHandle.disabled = false;
        }else {
          submitHandle.disabled = true;
        }
      }

    </script>





