

<p>
  <strong>Name:</strong>
  <%= @court_complex.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @court_complex.state_id %>
</p>

<p>
  <strong>District:</strong>
  <%= @court_complex.district_id %>
</p>

<%= link_to 'Edit', edit_court_complex_path(@court_complex) %> |
<%= link_to 'Back', court_complexes_path %>
