<div class="container-fluid">
<div class="hearings-index">

  <div class="main-heading">
    <h1>All Hearings</h1>
  </div>


<div class="main-heading-body"> 

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Sl.no</th>
      <th>Date of hearing</th>
      <th>Advocate</th>
      <th>Case status</th>
      <th>Case</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hearings.each_with_index do |hearing, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= hearing.date_of_hearing.to_date %></td>
        <td><%= hearing.advocate.name %></td>
        <td><%= hearing.case_status %></td>
        <td><%= hearing.client_case.try(:case_format) %></td>
        <td><%= hearing.amount %></td>
        <td><%= link_to client_case_hearing_path(hearing.client_case, hearing), class: "btn btn-success" do %> Show <% end %></td>
        <td><%= link_to edit_client_case_hearing_path(hearing.client_case, hearing), class: "btn btn-info" do %>Edit <% end %></td>
        <td><%= link_to hearing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do %>Delete<% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%#= link_to 'New Hearing', new_hearing_path %>
</div>
</div>
</div>