<%= form_for(@to_do_list) do |f| %>
  <% if @to_do_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@to_do_list.errors.count, "error") %> prohibited this to_do_list from being saved:</h2>

      <ul>
      <% @to_do_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= f.text_field :list_date %>
  </div>
  <div class="field">
  <% if params[:client_case].present? %>
    <%= f.hidden_field :client_case_id, value: params[:client_case] %><br>
    <% else %>
    <%= f.label :client_case %><br/>
    <%= f.collection_select :client_case_id, ClientCase.all, :id, :case_format %>
  <% end %>
  </div>

    <div class="field">
    <%= f.label :advocate_from %><br>
    <%= f.collection_select :advocate_from, Advocate.all, :id, :name, prompt: "Select Advocate" %>
  </div>


 <div class="field">
    <%= f.label :advocate_to %><br>
    <%= f.collection_select :advocate_to, Advocate.all, :id, :name, prompt: "Select Advocate" %>
  </div>

   <div class="field">
    <%= f.label :is_litigation %><br />
    <%= f.label :is_litigation, "Litigation", :value => "Litigation"  %> 
    <%= f.radio_button :is_litigation, true %>
    <%= f.label :is_litigation, "Non Litigation", :value => "Non Litigation" %>
    <%= f.radio_button :is_litigation, false %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

 <script>
  $( function() {
    $( "#to_do_list_list_date" ).datepicker({
      dateFormat: 'yy-mm-dd',
      // minDate: 0
    });
  } );
  </script>
