<div class="row">
<div class="col-md-4">

<%= form_for([@hearing, @payment]) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-styling">



      <div class="row mb">
          <div class="col-md-4">
            <%= f.label :amount %>
          </div>

          <div class="col-md-8">
            <%= f.text_field :amount %>
       </div>   
       </div>

         <div class="row mb">
          <div class="col-md-4">
            <%= f.label :comment %>
          </div>

          <div class="col-md-8">
            <%= f.text_field :comment %>
       </div>   
       </div>

  <%= f.hidden_field :hearing_id, value: @hearing.id %>

    <div class="row mb">
<div class="col-md-8 col-md-offset-4">
    <div class="actions">
      <%= f.submit "Add New Payment", class: "btn btn-success" %>
    </div>
    <% end %>
</div>
</div>


</div>
</div>
</div>
