<div class="container-fluid">

<h1>Listing Payments</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Sl no</th>
      <th>Hearing</th>
      <th>Amount</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each_with_index do |payment, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= payment.hearing.case_status %></td>
        <td><%= payment.amount %></td>
        <td><%= payment.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_payment_path %>
</div>