
<%= form_for([@hearing, @fee]) do |f| %> 
  <% if @fee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fee.errors.count, "error") %> prohibited this fee from being saved:</h2>

      <ul>
      <% @fee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :hearing_id, value: @hearing.id %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

  
