<%= form_for(@notice_image) do |f| %>
  <% if @notice_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notice_image.errors.count, "error") %> prohibited this notice_image from being saved:</h2>

      <ul>
      <% @notice_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-styling">

   <div class="row mb">
        <div class="col-md-2">
          <%= f.label :name %><br>
        </div>

        <div class="col-md-5">
          <%= f.text_field :name %>
        </div>
    </div>

    <div class="row mb">
        <div class="col-md-2">
          <%= f.label :notice_image %><br>
        </div>

        <div class="col-md-5">
          <%= f.text_field :notice_image %>
        </div>
    </div>

    <%= f.hidden_field :notice_id %>
  
    <div class="row mb">
        <div class="col-md-5 col-md-offset-2">
            <div class="actions">
              <%= f.submit "Submit", class: "btn btn-success" %>
            </div>
            <% end %>
        </div>
    </div>

</div>
