<p id="notice"><%= notice %></p>

<h1>Listing Notice Images</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cover</th>
      <th>Notice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notice_images.each do |notice_image| %>
      <tr>
        <td><%= notice_image.name %></td>
        <td><%= notice_image.notice_image %></td>
        <td><%= notice_image.notice_id %></td>
        <td><%= link_to 'Show', notice_image %></td>
        <td><%= link_to 'Edit', edit_notice_image_path(notice_image) %></td>
        <td><%= link_to 'Destroy', notice_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notice image', new_notice_image_path %>
