<!DOCTYPE html>
<html>
<head>
  <title>ACM</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<link rel="stylesheet" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">




<%# javascript_include_tag :defaults, "nested_form" %>


<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="icon" href="/images/favicon.ico">
<link rel="apple-touch-icon" href="/images/android-icon-36x36.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/android-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/android-icon-144x144.png">


</head>
<body>



<% if user_signed_in? %>



<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="/images/advocates-logo2.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Clients", clients_path %></li>
        <li><%= link_to "Advocates", advocates_path %></li>
         <li><%= link_to "Cases", client_cases_path %></li>
          <li><%= link_to "Hearings", hearings_path %></li>
          <li><%= link_to "To do List", to_do_lists_path %></li>
          <li><%= link_to "Invoice", invoices_path %> </li>
          <li><%= link_to "Notice", notices_path %> </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu">
            
            
            <li><%= link_to "Case Types", case_types_path %></li>
            <li><%= link_to "States", states_path %></li>
            <li><%= link_to "Districts", districts_path %></li>
            <li><%= link_to "Court Complexes", court_complexes_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
<div class="row">
<div class="col-md-12">

  <% if (controller.controller_name != "home") %>
  <ol class="breadcrumb">

    <li><a href="/">Home</a></li>
    <li class="active"><%= link_to controller.controller_name.capitalize, "/#{controller.controller_name}"  %> </li>

      <% if (controller.action_name == "index") %>
          <li> </li>
      <% else %>
          <li><%=   controller.action_name.capitalize %></li>
      <% end %>



   <div class="pull-right">
    <%= link_to :back , class: "btn btn-warning" do  %> Back<% end %>
  </div>

      <% end %>


  </ol>


</div>
</div>
</div>
<% end %>




<%= yield %>


<% if user_signed_in? %>
  <div class="container-fluid"> 
  <div class=""><%= notice %></div>
  <div class="alert-danger"><%= alert %></div> 
</div>
<% end %>

</body>


<!-- Latest compiled and minified JavaScript -->

</html>
